<table >
    <tbody>
    <tr>
    <td><span style="background-color: #cca6ac;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
    <td><span style="color: #008000;">Alleyy velden</span>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><span style="background-color: #9fe1e7;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>&nbsp;</td>
    <td><span style="color: #008000;">Groeneveld</span>&nbsp;&nbsp; &nbsp;</td>
    <td><span style="background-color: #a47ae2;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
    <td><span style="color: #008000;">Douglas</span>&nbsp;&nbsp;&nbsp;</td>
    <td><span style="background-color: #9a9cff;">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</span></td>
    <td><span style="color: #008000;">Kostka</span>&nbsp;&nbsp;</td>
    </tr>
    <tr>
    <td><span style="background-color: #16a765;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></td>
    <td><span style="color: #008000;">Moermont</span>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><span style="background-color: #fad165;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>&nbsp;</td>
    <td><span style="color: #008000;">Pinsen</span>&nbsp;&nbsp; &nbsp;</td>
    <td><span style="background-color: #cd74e6;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
    <td><span style="color: #008000;">Roovere</span>&nbsp;&nbsp;&nbsp;</td>
    </tr>
    </tbody>
    </table>
    
<iframe src="https://calendar.google.com/calendar/embed?title=Beschikbaar%20velden%20Buitenlust&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=labelterreinbuitenlust%40gmail.com&amp;color=%231B887A&amp;src=bqj5q2nmv44evoo63sviqm096o%40group.calendar.google.com&amp;color=%2323164E&amp;src=d30gg50so3v2homkt6isfl42cg%40group.calendar.google.com&amp;color=%2329527A&amp;src=oh6frno05l7f6ujov006tfe6q0%40group.calendar.google.com&amp;color=%23125A12&amp;src=k2i2o4sj3bcjdsr2t1o5eekf3k%40group.calendar.google.com&amp;color=%23875509&amp;src=7voij2ptad9orddm5fa1p0hih0%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=Europe%2FAmsterdam" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>