---
layout: default
---

<h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <section>
    <a href="https://www.e-boekhouden.nl/?c=vssp" title="e-Boekhouden.nl" target="blank">
      <img src="https://www.e-boekhouden.nl/Content/Sponsoring/728-90c.png" alt="e-Boekhouden.nl">
    </a>
    <!-- <h3>Recent posts from the blog</h3> -->
    <nav>
      <ul>
        {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    
  </section>
